@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #ffffff;
  background: #171717;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
